body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Titillium", Helvetica;
}

p {
  padding: 20px;
}

.hero img {
  margin: 10px 0px;
  width: 100%;
  height: auto;
}

#navlist {
  margin-top: 50px;
  top: 0;
}

#navlist li {
  list-style: none;
  display: block;
  padding: 10px;
}

#navlist a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
}

.buttonContainer {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 1px solid white;
  background-color: #ba3700;
  margin: auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  color: #FFFFFF;
}

.trailerWrap {
  text-align: center;
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.castPhotos {
  display: grid;
  grid-auto-rows: minmax(1,auto);
  justify-content: space-evenly;
}

.actor {
  text-align: center;
}

.actor a {
  color: #FFFFFF;
  max-width: 100%;
  word-wrap: normal;
}

.castButton {
  border: 1px solid white;
  background-color: #000000;
  margin: auto;
  padding: 10px;
  width: 20%;
  text-align: center;
  color: #FFFFFF;
}

.images {
  display: grid;
  grid-auto-rows: minmax(4,auto);
  justify-content: center;
}

.photos img{
  max-width: 200px;
  height: auto;
  padding:10px;
}

.images img:hover {
  cursor:pointer;
}

.menuItems {
   height: auto;
   width:280px;
   position:fixed;
   -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(-280px,0);
    -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
    -o-transform: translate(-280px,0); /** Opera **/
    -moz-transform: translate(-280px,0); /** Firefox **/
}

.menuItems.open {
  display:block;
  width:280px;
  background: #000000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
    z-index: 100;
}

.hamburger {
  position: fixed;
  z-index: 1000;
  background:#000;
  color:#FFF;
  text-decoration: none;
  font-size: 35px;
  text-align: center;
  border-radius: 2px;
  left: 0;
  top: 15px;
  height: 50px;
  width: 50px;
}

footer {
  background-color: #2d2d2d;
  color: #FFFFFF;
  margin-top: 50px;
  width: 100%;
  height: 50px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .castPhotos{
  grid-template-rows: repeat(4,auto);
  grid-template-columns: repeat(3,auto);
  }
  .images{
  grid-template-rows: repeat(4,auto);
  grid-template-columns: repeat(4,auto);
  }
}
